@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          rgba(0, 0, 0, 0.70),
          rgba(0, 0, 0, 0.85)
  ),
  url('../public/aggie-park-bg-blur.png');
  background-size: 100%;
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.progress-bar {
  position: fixed;
  top: 59px;
  left: 0;
  right: 0;
  height: 5px;
  background: dodgerblue;
  transform-origin: 0%;
  z-index: 50;
}

/* WorkExperienceCard.module.css */
.cardContainer {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  background-color: #171717;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  width: fit-content;
}

@media (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
    padding: 20px;
    min-width: 200px; /* Set a minimum width */
  }
}

@media (min-width: 768px) {
  .cardContainer {
    flex-direction: row;
    padding: 20px 60px;
  }
}

.carousel {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.carousel .slide img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.carousel .legend {
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}